<?xml version="1.0" encoding="utf-8"?>
<!-- TODO Change Package Name -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.webdemo">
    <!-- TODO Change Permissions if needed -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--

    android:launchMode="singleInstance"
    android:alwaysRetainTaskState="true"

    use them for restore point
    -->
    <!-- TODO Change App Label -->

    <application
        android:name=".services.DemoApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_icon"
        android:label="APP_NAME"
        android:largeHeap="true"
        android:roundIcon="@mipmap/app_icon_round"
        android:theme="@style/AppThemeD"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,Instantiatable"
        tools:targetApi="m">
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings">

        </activity>
        <service
            android:name=".services.MyMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- TODO APPLICATION_ID ADMOB -->

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3039242376817399~8547681739" />

        <activity
            android:name=".activity.SplashScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />

                <!-- TODO DEEPLİNK URL to host -->
                <data
                    android:host="r10"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>